#first {
    background: linear-gradient(#EBE266, 
    rgba(0,0,0,0.8)), url('http://files.vladstudio.com/joy/googlelibrary/wall/vladstudio_googlelibrary_1024x768_signed.jpg') 0% 0%/cover 
  }

.fill-viewport {
  min-height: 100vh 
}

.align-items-center {
    text-align: center;
}